* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100dvh;
  /* margin-top: 10px; */
}
.main__content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__content--notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%;
  max-width: 380px;
  margin: 10px auto; */
}
.main__content--image2 {
  visibility: visible;
  width: 100%;
  text-align: center;
}
.main__content--image {
  visibility: hidden;
  position: fixed;
}
.main__content--update {
  font-weight: 700;
  font-size: 35px;
  color: hsl(234, 29%, 20%);
}
.main__content--note {
  padding: 15px 0;
  text-align: center;
  font-size: 1rem;
  line-height: 25px;
  font-weight: 500;
  color: hsl(234, 29%, 20%);
}
.container {
  font-size: 1rem;
  color: hsl(234, 29%, 20%);
  display: inline-block;
  padding: 20px 0;
  font-size: 0.9rem;
}
.container-round {
  display: inline-block;
}
.round-one,
.round-two,
.round-three {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: hsl(4, 100%, 67%);
  margin-bottom: 30px;
  text-align: center;
  color: white;
}
.check-center {
  text-align: center;
  font-size: 12px;
}
.container-paragraph {
  display: inline-block;
  padding-left: 14px;
}
.container-paragraph p {
  margin-bottom: 30px;
}
form {
  display: flex;
  justify-content: center;
}
.mail {
  font-weight: 600;
}
.Email {
  width: 300px;
  margin: 10px 0;
  padding: 8px 25px;
  height: 50px;
  border-style: none;
  border: 1px solid hsl(231, 7%, 60%);
  border-radius: 12px;
  color: hsl(231, 7%, 60%);
  cursor: pointer;
}
.sub-btn {
  text-align: center;
}
button {
  width: 300px;
  height: 45px;
  margin-top: 8px;
  border-radius: 10px;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
button:active {
  background-color: hsl(4, 100%, 67%);
  transition: all 0.2s ease-out;
}

@media (min-width: 773px) {
  .main__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    margin: 0;
    /* margin: 0 auto; */
  }
  .main__content--image2 {
    visibility: hidden;
  }
  .main__content--image {
    visibility: visible;
  }
  .main__content--notes {
    margin: 0 28px 0 15px;
    display: inline-block;
    width: 100%;
  }
  .main__content--update {
    font-weight: bold;
    font-size: 50px;
  }
  .main__content--note {
    font-size: 1.2rem;
    text-align: start;
  }
  .container-paragraph p {
    font-size: 1rem;
  }
  .mail {
    font-weight: 700;
  }
  form {
    justify-content: flex-start;
  }
  .Email {
    width: 340px;
    height: 55px;
    font-size: 17px;
  }
  .sub-btn {
    text-align: start;
  }
  button {
    height: 50px;
    width: 340px;
  }
  button:hover,
  button:active {
    transition: all 0.3s ease-in ease-in;
  }
}

@media (min-width: 970px) {
  .main__content {
    max-width: 1300px;
    margin: 0 auto;
  }
  .main__content--note {
    font-size: 1.2rem;
    text-align: start;
  }
  .round-one,
  .round-two,
  .round-three {
    width: 22px;
    height: 22px;
    margin-bottom: 35px;
  }
  .container-paragraph p {
    font-size: 1.2rem;
    margin-bottom: 31px;
  }
}
